#one {
    background-color: blue;
    height: 200px;
    width: 300px;
    color:yellow;
    /* border: 5px solid black; */
    padding: 10px;
}

#two {
    background-color: blue;
    height: 200px;
    width: 300px;
    border: 5px solid black;
    color:yellow;
    padding: 10px;
    box-sizing: border-box;
}