img {
    filter: blur (1px);
    filter: brightness (90%);
    filter: contrast (70%);
    filter: drop-shadow (10px 5px 5px Ogreen);
    filter: grayscale (10%);
    filter: hue-rotate (10deg);
    filter: invert(100%);
    filter: opacity (100%);
}