ul{
    /* list-style-type: none; */
    list-style-type: square;
}
ol{
    /* list-style-type: none; */
    /* list-style-type: square; */
    list-style: upper-alpha;
}

ol li{
    color: greenyellow;
}
ol {
    background-color: blueviolet;
}